<header class="site-header">
  <div class="header-inner">
    <div class="brand"><a href="/"><%= appName %></a></div>
    <nav class="main-nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/survey" style="text-decoration: underline; font-weight: bold">Climb!</a>
      <a href="/climbs/sessions">Sessions</a>
      <a href="/forum">Forum</a>
      <% if (userID) { %>
        <a href="/logout">Logout</a>
      <% } else { %>  
        <a href="/login">Login</a>
      <% } %>
    </nav>
  </div>
</header>
