<!doctype html>
<html>
  <head>
    <title><%= appName %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>About <%= appName %></h1>
    <p>We sell all sorts of drinks</p>

    <h2>Our branches:</h2>
    <ul>

    </ul>
  </body>
</html>
