<!doctype html>
<html>
  <head>
    <title>Climb added!</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="body site-body">
    <%- include('partials/header') %>
    <div class="page-content">
      <div class="site-login-container">
        <h1 class="site-title">Climb Added!</h1>
        <p class="site-lead">Climb successfully added!</p>
        <p class="site-forum-link"><a href="/climbs/add">Add another?</a></p>
        <p class="site-forum-link"><a href="/">Back to home</a></p>
      </div>
    </div>
  </body>
</html>
