<!doctype html>
<html>
  <head>
    <title><%= appName %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="body">
    <%- include('partials/header') %>
    <h1>Welcome to <%= appName %></h1>
    <h2>Here are some things that we sell:</h2>
    <ul>
  
    </ul>
    </body>
</html>
