<!doctype html> 
<html>
  <head>
    <title><%=appName%></title> 
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="body">
    <%- include('partials/header') %>
    <div class="page-content">
      <div class="login-container">
        <h1> Register for <%= appName %> </h1>
        <form method="POST" action="/registered">
            Username: <input id="username" type="text" name="username"/><br><br>
            Email: <input id="email" type="text" name="email"/><br><br>
            Password: <input id="password" type="password" name="password"/><br>
            <small style="color: #666;">(Minimum 8 characters)</small><br><br>
            <input type="submit" value="OK"/>
        </form> 
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
          <div class="error-messages">
            <p style="color: #d32f2f; font-weight: bold; font-size: small;">Error:</p>
            <ul style="color: #d32f2f; text-align: left; display: inline-block; font-size: small;">
              <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          </div>
        <% } %>
        <p>Already have an account? <a href="/login">Login!</a></p>
        <p><a href="/">Back to home</a></p>
      </div>
    </div>
</body>
</html>
